.App {
  font-family: 'Circular Std', sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#light {
  background-color: #debef5;
}

#dark {
  background-color: #1F1B24;
}

.switch {
  display: flex;
  padding: .5rem;
  justify-content: flex-end;
}

.switch label {
  margin-right: .5rem;
}

.btn {
  cursor: pointer;
  width: 30px;
  height: 28px;
}

.lng button {
  padding-left: 15px;
  border: none;
  outline: none;
  background: none;
}
