.App {
  font-family: 'Circular Std', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#light {
  background-color: #ead9f6;
}

#dark {
  background-color: #1F1B24;
}

.switch {
  display: flex;
  padding: .5rem;
  justify-content: flex-end;
}

.switch label {
  margin-right: .5rem;
}
