$small: 300px;
$medium: 600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $medium) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .containerLeft, .containerRight {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $medium) {
      height: 100vh;
    }
  }

  .more {
    color: #1DB954;
    font-size: 9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 12px;

    @media screen and (max-width: $medium) {
      font-size: 4rem;
      margin-top: -5rem;
      padding-bottom: 1rem;
    }
  }

  .then {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 3rem;
    letter-spacing: 7px;

    @media screen and (max-width: $medium) {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
  }

  .arrowWhite {
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
      position: absolute;
      top: 95%;
      left: 40.5%;
      cursor: pointer;
    }
  }

  .arrowWhiteRotate {
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
      transform: rotate(180deg);
      position: absolute;
      top: 200%;
      left: 40.5%;
      margin-top: .5rem;
      cursor: pointer;
    }
  }
}
