* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .containerLeft, .containerRight {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .more {
    color: #1DB954;
    font-size: 8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .then {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 3rem;
    letter-spacing: 5px;
    text-shadow: -2px 0 #1F1B24, 0 1px #1F1B24, 1px 0 #1F1B24, 0 -1px #1F1B24;
  }
}
