.button {
  background-color: #1DB954;
  padding: 18px;
  border-radius: 50px;
  border-style: none;
  max-height: 10vh;
  max-width: fit-content;

  .text {
    font-size: 2rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}
