.container {
  padding: 1rem;
  margin-top: 2rem;
  width: 570px;

  .slide_img {
    height: 600px;
    width: 545px;
  }

  .text {
    color: #ffffff;
    font-size: 1rem;
    padding-top: 5px;
    font-weight: 500;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
  }
}